<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Secure Form Project</h1>
        <p class="lead">This is a form where you can register and login created to practice mysql .</p>
        <hr class="my-4">
        <p>this form created using NodeJs Express Mysql Handelbars Bootstrap </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>