<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Register Form</h3>
        </div>
        <div class="card-body">
            {{#if message }}
            <h4 class="alert alert-danger mt-4" role="alert"> {{message}} </h4>
            {{/if}}
            <form action="/auth/register" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <label for="cofirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="cofirmPassword" name="cofirmPassword"
                        placeholder="Confirm your password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>

</div>